:root {
    --red-ingeteam: #B6142C;
}

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    background: linear-gradient(to right, var(--red-ingeteam) 0%, #FF6262 50%, var(--red-ingeteam) 100%);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

.container{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.form-login{
    width: 400px;
    height: 420px;
    background-color: white;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0px 0px 30px 2px black;
}

.form-login img, .form-sign-up img{
    width: 200px;
    display: block;
    margin: 30px auto;
}

.text-login, .text-sign-up, .login-error, .sign-up-error{
    text-align: center;
    margin: 0 auto 15px auto;
    font-size: 16px;
}

.login-error, .sign-up-error{
    color: var(--red-ingeteam);
    font-size: 18px;
    display: none;
}

.text-sign-up span:hover, .text-login span:hover{
    cursor: pointer;
    text-decoration: underline;
}

.form-sign-up{
    width: 650px;
    height: 580px;
    background-color: white;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0px 0px 30px 2px black;
    display: none
}

.form-sign-up form{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.form-left, .form-right{
    width: 50%;
    height: 100%;
}

.form-left{
    border-width: 1px;
    border-style: solid;
    border-image: 
        linear-gradient(
        to bottom, 
        var(--red-ingeteam), 
        white
        ) 1 100%;
    border-left: none;
    border-bottom: none;
    border-top: none;
}

.form-sign-up .submit{
    width: 90%;
}

@media (max-width:600px){
    html, body{
        background: white;
        height: auto;
    }

    .container{
        height: auto;
    }

    .form-login{
        box-shadow: none;
    }

    .form-sign-up{
        width: 400px;
        height: 1000px;
        box-shadow: none;
    }

    .form-sign-up form{
        display: block;
    }

    .form-left, .form-right{
        width: 100%;
        border-right: none;
    }

    .form-sign-up .submit{
        width: 80%;
    }
    
}